@import "../../sass/variables.scss";

.Modal {
    &__sign-in{
        margin-top: 2rem;
        padding: 1.5rem 8rem;
        border: 0.1rem solid rgba(29, 28, 28, 0.445);
        background-color: transparent;
        border-radius: 0.5rem;
        color: rgb(29, 28, 28);
        font-weight: 700;
        transition: all 0.5s;
        cursor: pointer;
        letter-spacing: 0.2rem;
        position: relative;
        font-family: 'Lato';
    
        &:focus {
            outline: none
        }
        
    
        &:hover {
            color: rgb(70, 68, 68);
         
        }
    
        &::before {
            content: "";
            width: 0%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(0%,-50%);
            transition: all 1s cubic-bezier(.42,.72,.01,1.04);
            z-index: -2;
            clip-path: polygon(0 0, 85% 50%, 85%, 50%, 0 100%);
        }
    
        &:hover::before {
            width: 100%
        }
    }

    &__icon {
        &--facebook {
            width: 2rem
        }
    }

    &__modal {
        background-color: white;
        height: 60vh;
        width: 30rem;
        border-radius: 0.5rem;
        border: 0.2rem solid black;
        font-family: 'Lato';

        &:focus {
            outline: none;
        }
    }

    &__heading-container {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        flex-direction: column;
    }

    &__description-container {
        font-size: 2rem;
        padding: 0 2rem;
        text-align: center;
        color: rgb(65, 62, 62);
        height: 20%;
    }

    &__btns-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;
    }

    &__btn-container {
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 5rem;
        background-image: url('../../assets/google-sign-in-btn.png');
        text-decoration: none;
        font-size: 1.75rem;
        margin-top: 1.5rem;

        & span {
            margin-left: 1rem;
            margin-top: -.2rem;
        }
    
        &--google {
            background-color: $google-red;
            color: $white;
        }

        &--facebook {
            background-color: rgb(60,102,196);
            color: $white;
        }

    }

    

    
}