@import "../../sass/variables.scss";
@import "../../sass/media-queries.scss";


.Nav {
 
    height: 7.5vh;
    z-index: 2;
    

    &__container {
        height: 100%;
        position: relative;
    }

    &__list {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: flex-end;
        z-index: 50;
    }

    &__list-item {
        list-style: none;
        margin-left: 3rem;
    }

    &__link {
        margin-right: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        text-decoration: none;
        color: $black;
        
      

        &--logged {
            color: $off-white
        }

        &--cart {
            top: 0.5rem;
            margin-right: 2rem;
            position: relative;
        }

    }

    &__icon {
        width: 2rem
    }

    &__burger {
        display: none;
        cursor: pointer;
    }

    &__burger div{
        width: 2.5rem;
        height: 0.1rem;
        background-color: $black;
        margin: 0.75rem
    }

    &__active {
        transform: translateX(0%);
    }
}

@include width-950px {
    .Nav {
        overflow: hidden;
        

        &__burger {
            display: block;
            position: absolute;
            right: 2%;
            top: 5%;
            z-index: 100;
        }

        &__list {
            position: absolute;
            right: 0%;
            height: 92.5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 40%;
            transform: translateX(110%);
            transition: transform 0.5s ease-in;
            z-index: 50;
            
        }

        &__list--active {
            position: absolute;
            right: 0%;
         
            height: 92.5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 40%;
            transform: translateX(0%);
            transition: transform 0.5s ease-in;
            z-index: 50;
            align-items: center;
        }

        &__link {
            margin-right: 0;
            opacity: 1;
        }
    }
}