@import "../../sass/variables.scss";
@import "../../sass/media-queries.scss";


.Nav {
 
    height: 7.5vh;
    z-index: 100;
    

    &__container {
        height: 100%;
        position: relative;
    }

    &__list-item-icon {
        list-style: none;
        margin-left: 3rem;
    }

    &__list {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: flex-end;

    }

    &__list-item {
        list-style: none;
        margin-left: 3rem;

        &--margin {
            margin-right: auto;
        }
    }

    &__link--icon {
        margin-right: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        text-decoration: none;
        color: $black;
        position: relative;
    }

    &__link {
        margin-right: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        text-decoration: none;
        color: $black;
        position: relative;

        &--icon {

        }

        &::after {
            content: "";
            position: absolute;
            width: 0%;
            height: 0.1rem;
            background-color: $black;
            transform: translate(-50%, -50%);
            top: 130%;
            left: 50%;
            transition: 0.5s cubic-bezier(.07,1.39,.91,1.02);
            
        }
        
        &:hover::after {
            width: 105%
        }

        &--margin {
            justify-self: flex-end;
            width: 80%
        }

        &--logged {
            color: $off-white
        }

        &--cart {
            top: 0.5rem;
            margin-right: 2rem;
            position: relative;
        }

    }

    &__icon {
        width: 2rem
    }

    &__burger {
        display: none;
        cursor: pointer;
    }

    &__burger div{
        width: 2.5rem;
        height: 0.1rem;
        background-color: $black;
        margin: 0.75rem
    }

    &__active {
        transform: translateX(0%);
    }
}


@include width-850px {
    .Nav {
        &__list {
            background-color: rgb(197, 139, 31);
            flex-direction: column;
            height: 82.5vh;
            width: 50%;
            justify-content: center;
            transform: translateX(100%);
            transition: transform 0.3s ease-in;
            z-index: 75;
        }

        &__active {
            transform: translateX(0);
        }

        &__burger {
            display: block;
            position: absolute;
            top: 2%;
            right: 2%
        }

        &__list-item {
            width: 80%;
            text-align: center;
            padding-bottom: 2rem;
            border-bottom: 0.1rem solid rgb(49, 32, 1);
            margin-bottom: 4rem;
        }
    }
}