
// COLORS //
$black : rgb(44, 43, 43);
$black-transparent : rgba(44, 43, 43, 0.274);
$light-yellow: rgba(255, 255, 0, 0.178);
$dark-orange: rgba(255, 187, 0, 0.534);
$off-white: rgb(234, 234, 236);
$grey-dark: rgb(73, 73, 73);
$grey: grey;
$grey-light: rgba(128, 128, 128, 0.486);
$white: white;
$less-white: rgb(248, 245, 245);
$grey-white: rgb(242, 240, 245)
