@import '../../sass/variables.scss';

.LoggedInHeader {
    background-color: $light-yellow;
    height: 60vh;
    overflow: hidden;
    position: relative;
    //clip-path: ellipse(66% 62% at 48% 36%);

    &__background-color {
        position: absolute;
        left: 0%;
        width: 100rem
    }

    &__heading-container {
        position: absolute;
        top: 40%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-family: "Baloo";
        color: $black;
    }

    &__heading {
        font-size: 12rem;
        display: flex;
        flex-direction: column; 

        & span {
            font-size: 5rem;
            
        }
    }
}