@import "../../sass/variables.scss";

.LessonBox {
    &__toggle {
        background-color: $light-yellow;
        width: 100%;
        padding: 2rem 1rem;
        position: relative;
        border-bottom: 0.1rem solid orange;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: $dark-orange;
        }
    }

    &__title {
        font-size: 1.75rem;
        margin-bottom: 0.25rem;
    }

    &__section-info {
        display: flex;
    }

    &__info {
        margin-right: 1rem;
        font-size: 1.25rem;
    }

    &__dropdown-icon {
        position: absolute;
        width: 2rem;
        transform: translate(-50%, -50%);
        left: 90%;
        top: 50%
    }

    &__lessons-container {
        display: none;
        width: 100%;

        &--active {
            display: block
        }
    }

    &__lesson-container {
        height: 4.5rem;
        background-color: $white;
        padding: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-bottom: 0.1rem solid $grey-light;
        border-right: 0.1rem solid $grey-light;
        transition: 0.2s;

        &:hover {
            background-color: $less-white;
        }
        
    }

    &__lesson-title {
        font-size: 1.35rem;
    }

    &__checkbox {
        margin-right: 1rem;
    }

    &__lesson-time {
        margin-left: auto;
        font-size: 1.2rem;
        color: $grey
    }
}