@import '../../sass/variables.scss';


.LessonNav {
    width: 100%;
}

/*

.LessonNav {
    &__lesson-navigation-container {
        overflow-y: auto;
        width: 100%
    }

    &__toggle-container {
        width: 100%;
        background-color: $grey-light;
        height: 100%
    }

    
}





<div className="LessonNav__lesson-navigation-container">
                <div className="LessonNav__toggle-container"> 
                    {this.displayLessonBox()}          
                </div>
            </div>

            */