@import '../../sass/variables.scss';

.WolfAndBirdTracker {
    background-color: $light-yellow;
    height: 50vh;
    color: $black;
    position: relative;

    &__nav {
        z-index: 10;
    }

    &__container {
        height: 42.5vh;
        display: flex;
        top: 0%;
    }

    &__header-container {
        width: 30%;
        margin-left: 5rem;
    }

    &__header {
        margin-top: 7rem;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1.75rem;
        line-height: 3rem;
    }

    &__image {
        width: 7rem
    }

    &__scale-container {
     
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__img-container {
        display: flex;
        align-items: center;
        width: 80%;
        margin-bottom: 2rem;
    }

    &__image {
        margin-right: 8rem;

        &--bird {
            width: 9rem;
            margin-right: 5rem;
        }

        &--eagle {
            width: 12rem;
            margin-right: 5rem;
            margin-left: -3rem;
        }
    }

    &__scale-info-container {
        background: linear-gradient(
            to right, red , red 20%, orange, orange 40%, yellow, yellow 60%, rgb(0, 128, 53), rgb(0, 128, 53), rgb(16, 97, 6), rgb(16, 97, 6)
        );
        width: 85%;
        padding: 0.5rem 1rem;
        display: flex;
        font-size: 1.5rem;
        border-radius: 100rem;
        border: 0.12rem solid $black;
        position: relative;
        box-shadow: 0.4rem 0.2rem 1rem $black-transparent;
    }

    &__scale-info {
        margin-right: 7rem;

        &--hard {
            margin-left: 2rem;
            margin-right: 10rem;
        }

        &--easy {
            position: absolute;
            left: 76%
        }

        &--very-easy {
            position: absolute;
            left: 90%;
            width: 10rem;
        }
        
    }
}