@import '../../sass/variables.scss';

.WolfAndBirdTracker {
    background-color: $light-yellow;
    height: 50vh;
    color: $black;
    position: relative;

    &__nav {
        z-index: 10;
    }

    &__container {
        height: 42.5vh;
        display: flex;
        top: 0%;
    }

    &__header-container {
        width: 30%;
        margin-left: 5rem;
    }

    &__header {
        margin-top: 7rem;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1.75rem;
        line-height: 3rem;
    }

    &__image {
        width: 7rem
    }

    &__scale-container {
     
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__scale-info {
        font-size: 1.5rem;
    }

    &__img-container {
        display: flex;
        align-items: center;
        width: 80%;
        margin-bottom: 2rem;
       
    }

    &__img-and-text-container {
        height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__image {
        margin-right: 6rem;
        height: 7.5rem;
        margin-bottom: 3rem;

        &--bird {
            width: 9rem;
            
        }

        &--eagle {
            width: 12rem;
            margin-right: 5rem;
           
        }
    }

    &__scale-info-container {
        background: linear-gradient(
            to right, red , red 20%, orange, orange 40%, yellow, yellow 60%, rgb(0, 128, 53), rgb(0, 128, 53), rgb(16, 97, 6), rgb(16, 97, 6)
        );
        width: 85%;
        padding: 0.5rem 1rem;
        display: flex;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        border: 0.1rem solid $black;
        position: relative;
        box-shadow: 0.4rem 0.2rem 1rem $black-transparent;
        z-index: -2;
    }

    &__scale-info {
        margin-right: 7rem;

        &--hard {
            margin-left: 2rem;
            margin-right: 10rem;
        }

        &--easy {
            position: absolute;
            left: 76%
        }

        &--very-easy {
            position: absolute;
            left: 90%;
            width: 10rem;
        }
        
    }

    &__course-info-container {
        margin-top: 5rem;
        display: flex;
    }

    &__table-container {
        width: 70%;

    }

    &__nav {
        width: 30%;
    }

    &__nav-container {
 
        margin-top: 12rem;
    }

    &__university {
        font-size: 4rem;
        margin-left: 5rem;
    }

    &__nav-item {
        text-align: center;
        padding: 1.5rem 0;
        font-size: 2rem;
        border-bottom: 0.1rem solid $black-transparent;
        width: 60%;
        margin: 0 auto;
        cursor: pointer;
        position: relative;
        
        

        &::after {
            content: "";
            height: 100%;
            width: 0%;
            background-color: $black-transparent;
            position: absolute;
            left: 0%;
            top: 0%;
            transition: 0.5s;
            z-index: -3;
            
        }

        &:hover::after {
            width: 100%;
            
        }


    }

    &__uni-name {
        z-index: 3;
    }

}