@import '../../sass/variables.scss';
@import '../../sass/media-queries.scss';

.Header {
    background-color: $light-yellow;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0 100%);
    position: relative;
    overflow: hidden;
    
    
    &__background-design {
        width: 65rem;
        position: absolute;
        top: 0%;
        z-index: -5;
    }

    &__image {
        width: 47.5rem;
        position: absolute;
        top: 15%;
        left: 7.5%
    }
}

@include width-1050px {
    .Header {
    
        &__image {
            display: none;
        }

        &__background-design {
            width: 65rem;
            right: 50%;
            height: 75rem
        }

    }
}

