@import "../../sass/variables.scss";
@import "../../sass/media-queries.scss";


.ShoppingCart {

    position: relative;
    font-family: "Bellota Text";


    &__container {
        height: 100%;
        bottom: 0%;
        width: 100%;
        right: 0%;
        display: flex;
        margin-top: -3rem;
    }

    &__buy-container {
        background-color: $light-yellow;
        width:40%;
        padding-bottom: 35rem;
        margin-top: -2rem
       
    }

    &__item-cart-container {
        width: 60%;
        height: 100%;
       
    }

    &__buy-content-container {
        width: 45%;
        height: 90%;
        margin: 0 auto;
        margin-top: 10% ;
        padding-top: 1rem;
        
    }

    &__line {
        width: 100%;
        height: 0.5rem;
        background-color: $black;
        margin: 0 auto;
        margin-top: 3rem;
    }

    &__cart-info-container {
        display: flex;
        align-items: flex-end;
        margin-top: 5rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        margin-right: 6.5rem;
    }

    &__total {
        font-size: 2.5rem;
    }

    &__detail {
        margin-top: 1rem;
    }

    &__buy-btn { 
        
        & .design {
            color: $black;
            transition: all 0.5s;
            position: relative;
            margin: 0 auto;
            margin-top: 5rem;
            text-align: center;
            padding: 1.5rem;
            font-weight: 900;
            font-size: 1.5rem;
            cursor: pointer;
            

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba(43, 41, 41, 0.219);
                transition: all 0.3s;
                border-radius: 0.2rem;
            }

            &:hover::before {
                opacity: 0 ;
                transform: scale(0.5,0.5);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                transition: all 0.3s;
                border: 0.1rem solid rgba(78, 78, 78, 0.466);
                transform: scale(1.2,1.2);
            }

            &:hover::after {
                opacity: 1;
                transform: scale(1,1);
            } 
        }
    }


    &__item-cart-container {

    }

    &__table-container {
        margin: 0 auto;
        margin-top: 7.5rem;
        width: 85%;
    }

    &__row-container {
        display: flex;
        justify-content: space-between;
    }

    

    &__item-row-container {
        margin-top: 3rem;
        display: flex;
        align-items: flex-start;
        padding: 2rem 0;
        justify-content: space-between;
        border-bottom: 0.1rem solid $grey;
        position: relative
    }

    &__remove-btn {
        position: absolute;
        left: 98%;
        width: .32rem;
        height: .32rem;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 1.3rem;
            width: .15rem;
            background-color: #333;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
        transform: rotate(-45deg);
        }
    }

    &__row-item {
        width: 18rem;
        font-size: 1.75rem;
        text-transform: uppercase;

        &--description {
            width: 25rem;
        }

        &--description-container {
            width: 25rem;

            & h4 {
                font-weight: 900;
            }

            & p {
                text-transform: lowercase;
                font-size: 1.5rem;
                width: 100%;
                margin-top: 1rem;
            }
        }

        &--item {
            background-color: blanchedalmond;
        }

        &--image {
            width: 22rem;
            height: 12rem;
            border: 0.1rem solid $black;
            border-radius: 0.4rem;
        }
    }

    &__empty-cart-container {
        margin-top: 22.5rem;
        text-align: center;
        height: 100%;
        font-size: 2rem;
        position: relative;
        
    }

    &__background-image {
        position: absolute;
        top: 70%;
        left: 52.5%;
        transform: translate(-50%, -50%);
        z-index: -2;
        width: 45rem;
        opacity: 0.1;
    }

}

@include width-1450px {
    .ShoppingCart {
        &__row-item {
            &--description {
                width: 20rem
            }
            &--description-container {
                width: 20rem
            }
        }

        &__short-description {
            display: none
        }
    }
}

@include width-1350px {
    .ShoppingCart {
        &__row-item {
            &--description {
                width: 15rem
            }
            &--description-container {
                width: 15rem
            }
        }

        &__short-description {
            display: none
        }
    }
}

@include width-1260px {
    .ShoppingCart {
        &__row-item {
            &--description {
                width: 11rem
            }
            &--description-container {
                width: 11rem
            }
        }

        &__short-description {
            display: none
        }
    }
}

@include width-1150px {
    .ShoppingCart {

        &__item-row-container {
  
            position: relative;
        }

        &__row-container {
            display: none;
        }

        &__row-item {

            &--description {

            }
        } 

        &__item-title {
            position: absolute;
            width: 45%;
            right: 10%
        }

        &__price {
            position: absolute;
            top: 70%;
            right: 10%;
            width: 45%
        }

        &__short-description {
            display: none
        }
    }
}


@include width-1150px {
    .ShoppingCart {
        &__item-title {
            width: 40%;
        }

        &__price {
            width: 40%
        }
    }
}

@include width-950px {
    .ShoppingCart {
        &__item-title {
            width: 35%;
        }

        &__price {
            width: 35%
        }

        &__buy-container {
            padding-bottom: 50rem;
        }
    }
}

@include width-850px {
    .ShoppingCart {
        &__item-title {
            width: 30%;
        }

        &__price {
            width: 30%
        }
    }
}

@include width-800px {
    .ShoppingCart {
        &__row-item {
            &--image {
                width: 100%;
                height: 15rem
            }

            &--thumbnail {
                width: 90%;
                margin: 0 auto
            }
        }

        &__item-row-container {
            display: block;
            height: 30rem
        }

        &__item-title {
            width: 90%;
            left: 5%;
            margin-top: 1rem;
        }

        &__price {
            width: 30%;
            left: 5%;
            margin-top: 3rem;
        }
    }
}

@include width-600px {
    .ShoppingCart {
        &__item-row-container {
            height: 35rem;
        }
    }
}

@include width-450px {
    .ShoppingCart {
        &__item-row-container {
            height: 30rem;
        }

        &__row-item {
            &--image {
                width: 100%;
                height: 10rem
            }
        }
    }
}


